<ul class="headerUL">
    <li onclick="window.location.replace('/profile')"><%- maleFemaleIcon %> Your Profile</li>
    <li onclick="window.location.replace('/chats')"><i class="fa-solid fa-user-plus"></i> One-To-One chats</li>
    <li onclick="window.location.replace('/servers')"><i class="fa-solid fa-user-plus"></i> Servers</li>
    <li class="rightLI" onclick="window.location.replace('/settings')"><i class="fa-solid fa-gear"></i> Settings</li>
    <li class="rightLI" onclick="window.location.replace('/signout')"><i class="fa-solid fa-right-to-bracket"></i> Sign Out</li>
</ul>