<%- include("header.ejs") %>
    <%- include("navbar2.ejs") %>
        <div id="container">
            <div class="sidenav">
                <a class="tablinks" onclick="window.location.replace('/settings');">General Settings</a>
                <a class="tablinks" onclick="window.location.replace('/settings/customize-profile');">Customize
                    Profile</a>
                <a class="tablinks" onclick="window.location.replace('/settings/edit-password');">Edit
                    Password</a>
                <a class="tablinks" onclick="window.location.replace('/settings/delete-account');"
                    style="color: red !important;">Delete
                    Account</a>
                <a class="tablinks" onclick="window.location.replace('/settings/make-your-dp');">Make your DP</a>
            </div>

            <div class="main">