<%- include("includes/header.ejs") %>
    <%- include("includes/navbar1.ejs") %>
        <div id="card">
            <img src="/imgs/LOGO.png" alt="Deens Academy Logo" title="Deens Academy Logo">
            <h2>The Deen's Connect</h2>
            <form action="/signin" method="post">
                <input type="text" placeholder="Username" name="user_username" required>
                <input type="password" placeholder="Password" name="user_password" required><br>
                <button type="submit">Login</button>
            </form>
        </div>
        <%- include("includes/footer.ejs") %>