input, select, option{
    margin: 10px;
    padding: 10px;
    width: 400px;
}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    width: 200px;
    color: white;
    border-radius: 20px;
}

fieldset {
    width: 550px;
    padding: 10px 15px;
    margin: 20px;
}

button[type="submit"] {
    background-color: red;
}

button[type="reset"] {
    background-color: green;
}

form {
    background-color: aliceblue;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.halfWidth {
    width: 175px !important;
}

.triWidth {
    width: 100px !important;
}

.quadWidth {
    width: 61px !important;
}

fieldset  fieldset {
    width: fit-content;
}